<%- include('../partials/header') %>

<% if (books) { %>

  <% books.forEach(function(r) { %>
      <tr>
      <td><%= r.title %></td>
      
    </tr>
  <% }); %>



<% } %>

<%- include('../partials/footer') %>
