<%- include('../partials/header') %>

<h1>Books Checked Out</h1>

<table>
  <tbody>
    <% if (books) { %>
      <% books.forEach(function(book) { %>
        <tr>
          <td><%= book.title %></td>
        </tr>
      <% }); %>
    <% } %>
  </tbody>
</table>

<%- include('../partials/footer') %>